body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: #e4b34c;
    background-color: #171717;
    /* overflow: hidden; */
}
.mt-5{
    margin-top: 160px !important;
}
i{
    font-size: 20px;
    padding: 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    background-color: #e4b34c;
    color: #171717;
}
.btn-primary{
    background-color: initial;
}
.btn{
    width: 160px !important;
    padding: 10px;
    border: 1px solid #e4b34c;
    border-radius:1px ;
    -webkit-border-radius:1px ;
    -moz-border-radius:1px ;
    -ms-border-radius:1px ;
    -o-border-radius:1px ;
    color: white !important;
    font-family: 'Open Sans', sans-serif;
}
.btn:hover{
    background-color: initial;
    color: #e4b34c !important;
    border: 1px solid #e4b34c;
    
}
h5{
    font-family: 'Great Vibes', cursive;
    font-size: 19.2px;
    margin: 10px 10px;
}
h3{
    font-family: 'Merriweather', serif;
    font-size: 32px;
    margin: 10px 10px;
}
p{
    color: #ABABAB;
    margin: 10px 10px;
}
h4{
    font-family: 'Open Sans', sans-serif;
    margin: 10px 10px;
}
.social span a{
    color: #e4b34c !important;
    cursor: pointer;
    text-decoration: none;
}
.social span:hover a{
    color: white !important;
}
/* code nav--------------------------------------- */
.navv{
    padding-top: 5px;
    box-shadow: 3px 3px #e4b34c;
    background-color:#171717 ;
    position: relative;
}
.navv::before{
    content: "";
    position: absolute;
    top:0;
    width: 100%;
    height: 3px;
    background-color: #e4b34c;
}
.navLogo{
    width: 220px;
    height: 64px;
    cursor: pointer;
}
.navbar-nav .nav-item{
    margin-left: 45px;
}

.navbar-nav .nav-item a{

    color: #e4b34c;
    font-weight: 100;
    position: relative;
}
.navbar-nav .nav-item .active{
    color: white;
}
.navbar-nav .nav-item:hover a{
    color: white;
}
.navbar-nav .nav-item >a::before{
    content: "";
    position: absolute;
    top: 0;
    width: 0;
    height: 1px;
    background-color:#e4b34c ;
    
}
.navbar-nav .nav-item >a:hover::before{
    animation-name: line;
    animation-duration: 0.2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes line {
    from {width: 0;}
    to {width: 150%;}
}
.dropdown-menu{
    background-color: #171717;
}

.navbar-toggler:focus{
    border: 1px solid #e4b34c;
    color: white;
    outline: 0;
    box-shadow: none;
}
@media (min-width:320px) and (max-width:480px){

    .navLogo{
        width: 270px;
        height: 87px;
        cursor: pointer;
    }
    .navbar-toggler i{
        font-size: 25px;
    }
}
@media (min-width:481px) and (max-width:768px){

    .navLogo{
        width: 410px;
        height: 133px;
        cursor: pointer;
    }
    .navbar-toggler i{
        font-size: 30px;
    }
}
@media (min-width:769px) and (max-width:1024px){

    .navLogo{
        width: 134px;
        height: 39px;
        cursor: pointer;
    }
    .navbar-toggler i{
        font-size: 30px;
    }
}
@media (min-width:1025px) and (max-width:1200px){

    .navbar-nav .nav-item{
        margin-left: 30px;
    }
    .navLogo{
        width: 134px;
        height: 39px;
        cursor: pointer;
    }
    .navbar-toggler i{
        font-size: 30px;
    }
}
/* End Nav Code ---------------------------------------------------------------------------------------------- */
/* code profile ------------------------------------------------------------------------------------------------*/
.swiper{
    z-index: -1;
}
.profile{
    position: relative;
}
.profile-text{
    width: 600px;
    position: absolute;
    top: 12%;
    
    /* background-color: white; */
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.profile-text h1{
    font-family: 'Merriweather', serif;
    font-size: 80px;
}


@media (min-width:320px) and (max-width:768px) {

    .profile-text h5{
        font-size: 16px;
    }
    .profile-text h1{
        
        font-size: 46.5px;
    }
    
}
@media (min-width:769px) and (max-width:1024px){
    .profile-text h5{
        font-size: 19.2px;
    }
    .profile-text h1{
        
        font-size: 90px;
    }

}
@media (min-width:1025px) and (max-width:1200px){
    .profile-text h5{
        font-size: 16px;
    }
    .profile-text h1{
        
        font-size: 90px;
    }

}
/* code profile ------------------------------------------------------------------------------------------------*/
/* code Services------------------------------------------------------------------------------------------------- */
.Services{
    background-color: #171717;
}
@media (min-width:320px) and (max-width:768px) {

    .mt-5{
        margin-top: 30px !important;
        /* margin-left: 10px; */
        padding-left: 16px;
    }
    
}

@media (min-width:769px) and (max-width:1024px){
    .mt-4{
        margin-top: 50px !important;
        /* margin-left: 10px; */
        padding-left: 16px;
    }

}
/* code Services------------------------------------------------------------------------------------------------- */
/* code about--------------------------------------------------------------------------------------------------- */
.about{
    position: relative;
    /* overflow: hidden; */
    padding: 11px;
    
}
.about-d{
    padding-top: 90px;
}

.about-bg-overlay{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    
}
.about-bg-overlay .row img{
    
    background-color: #1a1a1a !important;
}



@media (min-width:1025px) and (max-width:1200px){
    .about-img{
        width: 216px;
        height: 324px;

    }

}
@media (min-width:320px) and (max-width:480px) {

    .about-d{
        padding-top: 40px;
        padding-left: 25px;
    }
    .about-img{
        width: 269px;
        height: 403px;
        margin-bottom: 20px;
        padding-left: 10px;

    }
    .about{
        display:none;
        background-color: #1a1a1a;
    }

    
}
@media (min-width:481px) and (max-width:768px) {
    .about-d{
        padding-top: 40px;
        
        padding-left: 25px;
    }
    .about-img{
        width: 430px;
        height: 645px;
        margin-bottom: 20px;
        padding-left: 10px;

    }
    .about{
        display:none;
    }
}
@media (min-width:769px) and (max-width:1024px){
    .about{
        display:none;
        
        
    }
    .about-d{
        padding-top: 40px;
    }
    .about-img{
        width: 336.5px;
        height: 504px;
        margin-bottom: 20px;
        padding-left: 10px;

    }

}

/* code about--------------------------------------------------------------------------------------------------- */
/* code best  ---------------------------------------------------------------------------------------------------*/
.best{
    overflow: hidden;
    /* margin-top: 50px !important; */
    padding-top: 50px;
    background-color: #171717;
}

@media (min-width:320px) and (max-width:480px) {

    .best{
        margin-top: 10px !important;
        padding-left: 25px;
        background-color: #1b1919;
    }
    .best-img img{
        margin-top: 30px;
        width: 269px;
        height: 209px;
    }
    
}
@media (min-width:481px) and (max-width:768px) {
    .best{
        margin-top: 10px !important;
        padding-left: 25px;
        background-color: #1b1919;
    }
    .best-img img{
        margin-top: 30px;
        width: 430px;
        height: 334px;
    }
}
@media (min-width:769px) and (max-width:1024px){
    .best{
        margin-top: 10px !important;
        padding-left: 15px;
        background-color: #1b1919;
    }
    .best-img img{
        margin-top: 30px;
        width: 705px;
        height: 548px;
    }

}
@media (min-width:1025px) and (max-width:1200px){
    .best-img img{
        
        width: 477px;
        height: 371px;
    }
    .best{
        background-color: #1b1919;
    }

}


/* code best  ---------------------------------------------------------------------------------------------------*/

/* code shef -----------------------------------------------------------------------------------------------------*/
.chefs{
    background-color: #1a1a1a !important;
    z-index: 3;
}
.chefImg{
    position: relative;
    z-index: 2;
    
}
.chefImg >img{
    z-index: 1;
}
.chefImg >span{
    position: absolute;
    top: 155px;
    left: 168px;
    width: 291px;
    height: 302px;
    background-color: initial!important;
    border: 1px solid #e4b34c;
    z-index: -1;
}
.social{
    padding-left: 15px;
}
.chefWord{
    padding-top:140px;
}

@media (min-width:320px) and (max-width:480px) {
    .chefImg >img{
        width: 269px;
        height: 349px;
    }
    .chefImg >span{
        top: 73px;
        left: 103px;
        width: 120px;
        height: 125px;
    }
    .chefImg{
        padding-left: 20px;
    }
    .chefs{
        padding-left: 25px;
    }
}
@media (min-width:481px) and (max-width:768px) {
    .chefImg >img{
        width: 430px;
        height: 558px;
    }
    .chefImg >span{
        top: 105px;
        left: 145px;
        width: 213px;
        height: 212px;
    }
    .chefs{
        padding-left: 25px;
    }
}
@media (min-width:769px) and (max-width:1024px){
    .chefImg >img{
        width: 705px;
        height: 915px;
    }
    .chefImg >span{
        top: 190px;
        left: 252px;
        width: 298px;
        height: 334px;
    }
}
/* code shef -----------------------------------------------------------------------------------------------------*/